@model IEnumerable<tema.Models.Cita>

@{
    ViewData["Title"] = "Index";
}
    <link href="~/Plantilla/dist/css/Tablas.css" rel="stylesheet" />
    <div class="content-wrapper">

        <div class="container">
            <ol class="breadcrumb" style="border:solid;color:black;background-color: #01386E">
                <li><a href="../Cita/Index" style="color:aliceblue">Inicio </a></li>
                @*<li><a class="active" style="color:aliceblue">/ Crear Cita</a></li>*@
                @*<li><a href="#">Home</a></li>
            <li><a href="#">Private</a></li>
            <li><a href="#">Pictures</a></li>
            <li class="active">Vacation</li>*@
            </ol>
            <h1>Citas</h1>
            @section Scripts
        {
                <script>
                    $(document).ready(function () {
                        $('#tablaDatos').DataTable({
                            "language":
                            {
                                "sProcessing": "Procesando...",
                                "sLengthMenu": "Mostrar _MENU_ registros",
                                "sZeroRecords": "No se encontraron resultados",
                                "sEmptyTable": "Ningún dato disponible en esta tabla",
                                "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                                "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                                "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                                "sInfoPostFix": "",
                                "sSearch": "Buscar:",
                                "sUrl": "",
                                "sInfoThousands": ",",
                                "sLoadingRecords": "Cargando...",
                                "oPaginate": {
                                    "sFirst": "Primero",
                                    "sLast": "Último",
                                    "sNext": "Siguiente",
                                    "sPrevious": "Anterior"
                                },
                                "oAria": {
                                    "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                                    "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                                },
                                "buttons": {
                                    "copy": "Copiar",
                                    "colvis": "Visibilidad"
                                }
                            },
                            "pageLength": 5
                        });
                    });
                </script>
            }
            <table id="tablaDatos" class="Tablas" style="width:100%">
                <thead>
                    <tr>

                        <th style="color:white;font-family:Arial">
                            @Html.DisplayNameFor(model => model.IDTecnico)
                        </th>
                        <th style="color:white;font-family:Arial">
                            @Html.DisplayNameFor(model => model.cedulaCliente)
                        </th>
                        <th style="color:white;font-family:Arial">
                            @Html.DisplayNameFor(model => model.fecha)
                        </th>
                        <th style="color:white;font-family:Arial">
                            @Html.DisplayNameFor(model => model.hora)
                        </th>
                        <th style="color:white;font-family:Arial">
                            @Html.DisplayNameFor(model => model.asunto)
                        </th>
                        <th style="color:white;font-family:Arial">
                            @Html.DisplayNameFor(model => model.descripcion)
                        </th>
                        <th style="color:white;font-family:Arial">
                            @Html.DisplayNameFor(model => model.citaConfirmada)
                        </th>
                        <th style="color:white;font-family:Arial">
                            @Html.DisplayNameFor(model => model.IDCliente)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>

                            <td>
                                @Html.DisplayFor(modelItem => item.IDTecnico)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.cedulaCliente)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.fecha)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.hora)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.asunto)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.descripcion)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.citaConfirmada)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IDCliente)
                            </td>
                            <td>
                                @Html.ActionLink("Editar", "Edit", new { id = item.IDCita }) |
                                @Html.ActionLink("Detalles", "Details", new { id = item.IDCita }) |
                                @Html.ActionLink("Eliminar", "Delete", new { id = item.IDCita })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <p>
                <a asp-action="Create" class="Boton" style="font-family: Arial;color: white">Crear Cita</a>
            </p>
        </div>
</div>