@model IEnumerable<tema.Models.Orden>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    * {
        font-family: Arial;
    }
</style>
<link href="~/Plantilla/dist/css/Tablas.css" rel="stylesheet" />
<div class="content-wrapper">

    <div class="container">
        <ol class="breadcrumb" style="border:solid;color:black;background-color: #01386E">
            <li><a href="../Orden/Index" style="color:aliceblue">Inicio</a></li>
            @*<li><a class="active" style="color:aliceblue">Crear Expediente</a></li>*@
            @*<li><a href="#">Home</a></li>
                <li><a href="#">Private</a></li>
                <li><a href="#">Pictures</a></li>
                <li class="active">Vacation</li>*@
        </ol>
        <h1>Orden</h1>
        @section Scripts
        {
            <script>
                $(document).ready(function () {
                    $('#tablaDatos').DataTable({
                        "language":
                        {
                            "sProcessing": "Procesando...",
                            "sLengthMenu": "Mostrar _MENU_ registros",
                            "sZeroRecords": "No se encontraron resultados",
                            "sEmptyTable": "Ningún dato disponible en esta tabla",
                            "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                            "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                            "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                            "sInfoPostFix": "",
                            "sSearch": "Buscar:",
                            "sUrl": "",
                            "sInfoThousands": ",",
                            "sLoadingRecords": "Cargando...",
                            "oPaginate": {
                                "sFirst": "Primero",
                                "sLast": "Último",
                                "sNext": "Siguiente",
                                "sPrevious": "Anterior"
                            },
                            "oAria": {
                                "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                                "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                            },
                            "buttons": {
                                "copy": "Copiar",
                                "colvis": "Visibilidad"
                            }
                        },
                        "pageLength": 5
                    });
                });
            </script>
        }
        <table id="tablaDatos" class="Tablas" style="width:100%">
            <thead>
                <tr>
                    <th style="color:white;font-family:Arial">
                        @Html.DisplayNameFor(model => model.IDOrden)
                    </th>
                    <th style="color:white;font-family:Arial">
                        @Html.DisplayNameFor(model => model.IDVehiculo)
                    </th>
                    <th style="color:white;font-family:Arial">
                        @Html.DisplayNameFor(model => model.cedulaCliente)
                    </th>
                    <th style="color:white;font-family:Arial">
                        @Html.DisplayNameFor(model => model.placaVehiculo)
                    </th>
                    <th style="color:white;font-family:Arial">
                        @Html.DisplayNameFor(model => model.descServicio)
                    </th>
                    <th style="color:white">
                        Acciones
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.IDOrden)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IDVehiculo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.cedulaCliente)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.placaVehiculo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.descServicio)
                        </td>
                        <td style="text-align:center;font-family:Arial">
                            @Html.ActionLink("Borrar", "Delete", new { id = item.IDOrden })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <br />
        <p class="text-justify">
            Nota: las órdenes no se crean en esta sección. Debe dirigirse al módulo de citas, en la página principal.
            Allí podrá crear una cita y generar la orden para las citas que están debidamente confirmadas (es decir,
            aquellas donde tenga la total seguridad de que el cliente asistirá al taller). <br />
            Puede ir al módulo de citas presionando <a asp-controller="Cita" asp-action="Index">aquí</a> o bien,
            en el menú a su izquierda, presionando la opción de "Citas".
        </p>
        <p>
            <a asp-controller="Orden" asp-action="CreatePDF" class="Boton">Crear archivo PDF</a>
        </p>
    </div>
</div>