@model tema.Models.ViewModels.TecnicoViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    * {
        font-family: Arial;
    }
</style>
<link href="~/Plantilla/dist/css/Tablas.css" rel="stylesheet" />

<div class="content-wrapper">
    <div class="container">
        <ol class="breadcrumb" style="border:solid;color:black;background-color: #01386E">
            <li><a href="../Tecnico/Index" style="color:aliceblue">Inicio </a></li>
            <li><a class="active" style="color:aliceblue">/ Detalles Técnico</a></li>
            @*<li><a href="#">Home</a></li>
                <li><a href="#">Private</a></li>
                <li><a href="#">Pictures</a></li>
                <li class="active">Vacation</li>*@
        </ol>
    </div>

    <div class="container">
        <h1>Detalles del técnico @Model.tecnico.nombre @Model.tecnico.pmrApellido</h1>
        <div style="display: inline-block; ">
            <hr />
            <div style="float: left; max-width: 34%;">
                <dl class="row">
                    <dt class="col-sm-5">
                        @Html.DisplayNameFor(model => model.tecnico.IDTecnico)
                    </dt>
                    <dd class="col-sm-7">
                        @Html.DisplayFor(model => model.tecnico.IDTecnico)
                    </dd>
                    <dt class="col-sm-5">
                        @Html.DisplayNameFor(model => model.tecnico.nombre)
                    </dt>
                    <dd class="col-sm-7">
                        @Html.DisplayFor(model => model.tecnico.nombre)
                    </dd>
                    <dt class="col-sm-5">
                        @Html.DisplayNameFor(model => model.tecnico.pmrApellido)
                    </dt>
                    <dd class="col-sm-7">
                        @Html.DisplayFor(model => model.tecnico.pmrApellido)
                    </dd>
                    <dt class="col-sm-5">
                        @Html.DisplayNameFor(model => model.tecnico.sgndApellido)
                    </dt>
                    <dd class="col-sm-7">
                        @Html.DisplayFor(model => model.tecnico.sgndApellido)
                    </dd>
                    <dt class="col-sm-5">
                        @Html.DisplayNameFor(model => model.tecnico.cedula)
                    </dt>
                    <dd class="col-sm-7">
                        @Html.DisplayFor(model => model.tecnico.cedula)
                    </dd>
                    <dt class="col-sm-5">
                        @Html.DisplayNameFor(model => model.tecnico.fechaIngreso)
                    </dt>
                    <dd class="col-sm-7">
                        @Html.DisplayFor(model => model.tecnico.fechaIngreso)
                    </dd>
                </dl>
                <div>
                    @Html.ActionLink("Actualizar", "Edit", "Tecnico", new { id = Model.tecnico.cedula }) |
                    <a asp-action="Index">Regresar</a>
                </div>
            </div>
            <div style="float: right; max-width: 60%;">
                @section ScriptTablaTecnico
        {
                    <script>
                        $(document).ready(function () {
                            $('#tablaDatosTecnico').DataTable({
                                "language":
                                {
                                    "sProcessing": "Procesando...",
                                    "sLengthMenu": "Mostrar _MENU_ registros",
                                    "sZeroRecords": "No se encontraron resultados",
                                    "sEmptyTable": "Ningún dato disponible en esta tabla",
                                    "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                                    "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                                    "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                                    "sInfoPostFix": "",
                                    "sSearch": "Buscar:",
                                    "sUrl": "",
                                    "sInfoThousands": ",",
                                    "sLoadingRecords": "Cargando...",
                                    "oPaginate": {
                                        "sFirst": "Primero",
                                        "sLast": "Último",
                                        "sNext": "Siguiente",
                                        "sPrevious": "Anterior"
                                    },
                                    "oAria": {
                                        "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                                        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                                    },
                                    "buttons": {
                                        "copy": "Copiar",
                                        "colvis": "Visibilidad"
                                    }
                                },
                                "lengthChange": false,
                                "pageLength": 2
                            });
                        });
                    </script>
                }
                <table id="tablaDatosTecnico" class="table table-responsive-md">
                    <thead class="text-center">
                        <tr>
                            <th>
                                Dirección
                            </th>
                            <th>
                                Teléfono
                            </th>
                            <th>
                                Correo
                            </th>
                            <th>
                                Acciones
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (DetallesTecnico dtt in Model.detallesTecnico)
                        {
                            <tr>
                                @*<td>
                                        @dtc.IDCliente
                                    </td>*@
                                <td>
                                    @dtt.direccion
                                </td>
                                <td>
                                    @dtt.telefono
                                </td>
                                <td>
                                    @dtt.correo
                                </td>
                                <td>
                                    @Html.ActionLink("Actualizar", "Edit", "DetallesTecnico", new { id = dtt.codDet }) |
                                    @Html.ActionLink("Borrar", "Delete", "DetallesTecnico", new { id = dtt.codDet })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <p >
                    @Html.ActionLink("Ingresar datos nuevos", "Create", "DetallesTecnico", new { id = Model.tecnico.IDTecnico })
                </p>
            </div>
        </div>
    </div>
</div>
