@model IEnumerable<tema.Models.Tecnico>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Plantilla/dist/css/Tablas.css" rel="stylesheet" />

<div class="content-wrapper">
    <div class="container">

        <form class="form-inline ml-3">
            @*buscar*@
            <div class="input-group input-group-sm">
                <input class="form-control form-control-navbar" type="search" placeholder="Buscar Ténico" aria-label="Search">
                <div class="input-group-append">
                    <button class="btn btn-navbar" type="submit">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
        </form>
        <table class="Tablas">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.IDTecnico)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.nombre)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.pmrApellido)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.sgndApellido)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.cedula)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.fechaIngreso)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.IDTecnico)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.pmrApellido)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.sgndApellido)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.cedula)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.fechaIngreso)
                        </td>
                        <td>
                            @Html.ActionLink("Editar", "Edit", new { id=item.IDTecnico }) |
                            @Html.ActionLink("Detalles", "Details", new { id=item.IDTecnico }) |
                            @Html.ActionLink("Borrar", "Delete", new { id=item.IDTecnico })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <p>
            <a asp-action="Create" class="Boton">Registrar Técnico</a>
        </p>
    </div>
</div>