@model tema.Models.Tecnico

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
    <div class="content-wrapper">

        <h1>Details</h1>

        <div>
            <h4>Tecnico</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.IDTecnico)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.IDTecnico)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.nombre)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.nombre)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.pmrApellido)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.pmrApellido)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.sgndApellido)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.sgndApellido)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.cedula)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.cedula)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.fechaIngreso)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.fechaIngreso)
                </dd>
            </dl>
        </div>
        <div>
            @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
            <a asp-action="Index">Back to List</a>
        </div>
</div>