@model tema.Models.Servicio

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    * {
        font-family: Arial;
    }
</style>
<link href="~/Plantilla/dist/css/Tablas.css" rel="stylesheet" />
<div class="content-wrapper">
    <div class="container">
        <ol class="breadcrumb" style="border:solid;color:black;background-color: #01386E">
            <li><a asp-controller="Cita" asp-action="Index" style="color:aliceblue">Cita&nbsp;/&nbsp;</a></li>
            <li><a class="active" style="color:aliceblue">Crear servicio</a></li>
        </ol>

        <h1>Eliminar servicio</h1>

        <h3>Are you sure you want to delete this?</h3>
        <div>
            <h4>Servicio</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.IDServicio)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.IDServicio)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.IDVehiculo)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.IDVehiculo)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.descripcion)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.descripcion)
                </dd>
            </dl>

            <form asp-action="Delete">
                <input type="submit" value="Delete" class="Boton" /> |
                <a asp-action="Index" class="Boton">Ver lista de servicios</a>
            </form>
        </div>
    </div>
</div>