@model IEnumerable<WebApplication1.Entidades.Cliente>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="padding: 20px; background-color: cadetblue">
    <p style="padding-bottom: 5px;">
        El módulo de clientes le permite tener control total de la base de datos
        de los consumidores de su servicio. En esta sección puede:<br />
    </p>
    <p>
        Ingresar un nuevo cliente
    </p>
    <p>
        Ver una lista de todos los clientes, así como aquellos que tengan
        una cita pendiente
    </p>
    <p>
        Editar y eliminar un cliente
    </p>
</div>

<div class="navbar">
    <h2 style="color: white; background-color: dimgray; text-align: center;">Lista de todos los clientes</h2>
</div>

<table class="tablaDatos">
    <thead>
        <tr>
            <th>
                Nombre
            </th>
            <th>
                1er apellido
            </th>
            <th>
                2ndo apellido
            </th>
            <th>
                Fecha de ingreso
            </th>
            <th>
                ¿Es frecuente?
            </th>
            <th>
                ¿Debe facturas?
            </th>
            <th>
                Número de cédula
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var x in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(Model => x.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(Model => x.Apellido1)
                </td>
                <td>
                    @Html.DisplayFor(Model => x.Apellido2)
                </td>
                <td>
                    @x.FechaIngreso.Date.ToString("dd/MM/yyyy")
                </td>
                <td>
                    @Html.DisplayFor(Model => x.CltFrecuente)
                </td>
                <td>
                    @Html.DisplayFor(Model => x.FactPendiente)
                </td>
                <td>
                    @Html.DisplayFor(Model => x.Cedula)
                </td>
            </tr>
        }
    </tbody>
</table>

