@model IEnumerable<tema.Models.Orden>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
<link href="~/Plantilla/dist/css/Tablas.css" rel="stylesheet" />
<div class="content-wrapper">

    <div class="container">
        <form class="form-inline ml-3">
            @*buscar*@
            <div class="input-group input-group-sm">
                <input class="form-control form-control-navbar" type="search" placeholder="Buscar Orden " aria-label="Search">
                <div class="input-group-append">
                    <button class="btn btn-navbar" type="submit">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
        </form>
        <table class="Tablas">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.IDOrden)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IDVehiculo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.cedulaCliente)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.placaVehiculo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.descServicio)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.IDOrden)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IDVehiculo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.cedulaCliente)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.placaVehiculo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.descServicio)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <p>
            <a asp-action="Create" class="Boton">Registrar Orden</a>
        </p>

    </div>
</div>