@model tema.Models.ViewModels.ClienteViewModel


@{
    ViewData["Title"] = "Details";
}
<style>
    * {
        font-family: Arial;
    }
</style>
<link href="~/Plantilla/dist/css/Tablas.css" rel="stylesheet" />
<div class="content-wrapper">

    <div class="container">
        <ol class="breadcrumb" style="border:solid;color:black;background-color: #01386E">
            <li><a asp-controller="Cliente" asp-action="Index" style="color:aliceblue">Clientes&nbsp;/&nbsp;</a></li>
            <li><a class="active" style="color:aliceblue">Detalles cliente</a></li>
            @*<li><a href="#">Home</a></li>
                <li><a href="#">Private</a></li>
                <li><a href="#">Pictures</a></li>
                <li class="active">Vacation</li>*@
        </ol>
    </div>
    <div class="container">

        <h1>Detalles del cliente</h1>
        <!--class="container" style="position: relative; margin-left: auto; margin-right: auto;"-->
        <div style="display: inline-block; ">
            <hr />
            <div style="float: left; max-width: 34%;">
                <dl class="row">
                    <dt class="col-sm-5">
                        @Html.DisplayNameFor(model => model.cliente.nombre)
                    </dt>
                    <dd class="col-sm-7">
                        @Html.DisplayFor(model => model.cliente.nombre)
                    </dd>
                    <dt class="col-sm-5">
                        @Html.DisplayNameFor(model => model.cliente.pmrApellido)
                    </dt>
                    <dd class="col-sm-7">
                        @Html.DisplayFor(model => model.cliente.pmrApellido)
                    </dd>
                    <dt class="col-sm-5">
                        @Html.DisplayNameFor(model => model.cliente.sgndApellido)
                    </dt>
                    <dd class="col-sm-7">
                        @Html.DisplayFor(model => model.cliente.sgndApellido)
                    </dd>
                    <dt class="col-sm-5">
                        @Html.DisplayNameFor(model => model.cliente.cedula)
                    </dt>
                    <dd class="col-sm-7">
                        @Html.DisplayFor(model => model.cliente.cedula)
                    </dd>
                    <dt class="col-sm-5">
                        @Html.DisplayNameFor(model => model.cliente.cltFrecuente)
                    </dt>
                    <dd class="col-sm-7">
                        @Html.DisplayFor(model => model.cliente.cltFrecuente)
                    </dd>
                    <dt class="col-sm-5">
                        @Html.DisplayNameFor(model => model.cliente.fechaIngreso)
                    </dt>
                    <dd class="col-sm-7">
                        @Convert.ToString(Model.cliente.fechaIngreso.Date.ToString("dd/MM/yyyy"))
                    </dd>
                </dl>
                <div>
                    @Html.ActionLink("Actualizar", "Edit", new { id = Model.cliente.cedula }, new { @class = "Boton" }) |
                    <a asp-action="Index" class="Boton">Regresar a la tabla</a>
                </div>
            </div>
            <!--*******************************************************************************************************-->
            <div style="float: right; max-width: 60%;">
                @section Scripts
        {
                    <script>
                        $(document).ready(function () {
                            $('#tablaDatos').DataTable({
                                "language":
                                {
                                    "sProcessing": "Procesando...",
                                    "sLengthMenu": "Mostrar _MENU_ registros",
                                    "sZeroRecords": "No se encontraron resultados",
                                    "sEmptyTable": "Ningún dato disponible en esta tabla",
                                    "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                                    "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                                    "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                                    "sInfoPostFix": "",
                                    "sSearch": "Buscar:",
                                    "sUrl": "",
                                    "sInfoThousands": ",",
                                    "sLoadingRecords": "Cargando...",
                                    "oPaginate": {
                                        "sFirst": "Primero",
                                        "sLast": "Último",
                                        "sNext": "Siguiente",
                                        "sPrevious": "Anterior"
                                    },
                                    "oAria": {
                                        "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                                        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                                    },
                                    "buttons": {
                                        "copy": "Copiar",
                                        "colvis": "Visibilidad"
                                    }
                                },
                                "lengthChange": false,
                                "pageLength": 2
                            });
                        });
                    </script>
                }
                <table id="tablaDatos" class="table table-responsive-md">
                    <thead class="text-center">
                        <tr>
                            <th style="color:white">
                                <font size="3"> Dirección</font>
                            </th>
                            <th style="color:white">
                                <font size="3"> Teléfono</font>
                            </th>
                            <th style="color:white">
                                <font size="3">  Correo</font>
                            </th>
                            <th style="color:white">
                                <font size="3"> Acciones</font>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (DetallesCliente dtc in Model.detallesCliente)
                        {
                            <tr>
                                @*<td>
                                        @dtc.IDCliente
                                    </td>*@
                                <td>
                                    @dtc.direccion
                                </td>
                                <td>
                                    @dtc.telefono
                                </td>
                                <td>
                                    @dtc.correo
                                </td>
                                <td>
                                    @Html.ActionLink("Actualizar", "Edit", "DetallesCliente", new { id = dtc.codDet }) |
                                    @Html.ActionLink("Borrar", "Delete", "DetallesCliente", new { id = dtc.codDet })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <p>
                    @*<a asp-controller="DetallesCliente" asp-action="Create">Ingresar más información</a>*@
                    @Html.ActionLink("Ingresar datos nuevos", "Create", "DetallesCliente", new { id = Model.cliente.IDCliente }, new { @class = "Boton" })
                </p>
            </div>
            <!--*******************************************************************************************************-->
        </div>
    </div>
</div>