@model IEnumerable<tema.Models.Cliente>

@{
    ViewData["Title"] = "Index";
}

<style>
    * {
        font-family: Arial;
    }
</style>
<link href="~/Plantilla/dist/css/Tablas.css" rel="stylesheet" />
<div class="content-wrapper">

    <div class="container">
        <ol class="breadcrumb" style="border:solid;color:black;background-color: #01386E">
            <li><a href="../Cliente/Index" style="color:aliceblue">Inicio</a></li>

        </ol>
        <h1>Clientes</h1>

        @section Scripts
        {
            <script>
                $(document).ready(function () {
                    $('#tablaDatos').DataTable({
                        "language":
                        {
                            "sProcessing": "Procesando...",
                            "sLengthMenu": "Mostrar _MENU_ registros",
                            "sZeroRecords": "No se encontraron resultados",
                            "sEmptyTable": "Ningún dato disponible en esta tabla",
                            "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                            "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                            "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                            "sInfoPostFix": "",
                            "sSearch": "Buscar:",
                            "sUrl": "",
                            "sInfoThousands": ",",
                            "sLoadingRecords": "Cargando...",
                            "oPaginate": {
                                "sFirst": "Primero",
                                "sLast": "Último",
                                "sNext": "Siguiente",
                                "sPrevious": "Anterior"
                            },
                            "oAria": {
                                "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                                "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                            },
                            "buttons": {
                                "copy": "Copiar",
                                "colvis": "Visibilidad"
                            }
                        },
                        "pageLength": 5
                    });
                });
            </script>
        }
        <table id="tablaDatos" class="tabla" style="width:100%">
            <thead>
                <tr>
                    @*<th>
                            @Html.DisplayNameFor(model => model.IDCliente)
                        </th>*@
                    <th style="color:white;font-family:Arial">
                        @Html.DisplayNameFor(model => model.nombre)
                    </th>
                    <th style="color:white;font-family:Arial ">
                        @Html.DisplayNameFor(model => model.pmrApellido)
                    </th>
                    <th style="color:white;font-family:Arial">
                        @Html.DisplayNameFor(model => model.sgndApellido)
                    </th>
                    <th style="color:white;font-family:Arial">
                        @Html.DisplayNameFor(model => model.cedula)
                    </th>
                    <th style="color:white;font-family:Arial">
                        @Html.DisplayNameFor(model => model.cltFrecuente)
                    </th>
                    <th style="color:white;font-family:Arial">
                        @Html.DisplayNameFor(model => model.fechaIngreso)
                    </th>
                    <th style="color:white;font-family:Arial">
                        Acciones
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        @*<td>
                                @Html.DisplayFor(modelItem => item.IDCliente)
                            </td>*@
                        <td>
                            @Html.DisplayFor(modelItem => item.nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.pmrApellido)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.sgndApellido)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.cedula)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.cltFrecuente)
                        </td>
                        <td>
                            @item.fechaIngreso.Date.ToString("dd/MM/yyyy")
                        </td>
                        <td>
                            @Html.ActionLink("Editar", "Edit", new { id = item.cedula }) |
                            @Html.ActionLink("Detalles", "Details", new { id = item.cedula }) |
                            @Html.ActionLink("Eliminar", "Delete", new { id = item.cedula })
                        </td>
                    </tr>
                }
            </tbody>

        </table>
        <p>
            <a asp-action="Create" class="Boton" style="font-family: Arial;color: white">Crear Cliente</a>
        </p>
    </div>
</div>