@model tema.Models.Expediente

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    * {
        font-family: Arial;
    }
</style>
<link href="~/Plantilla/dist/css/Tablas.css" rel="stylesheet" />

<div id="html-content">
    <div class="content-wrapper">
        <div class="container">

            <ol id="migaja" class="breadcrumb" style="border:solid;color:black;background-color: #01386E">
                <li><a asp-controller="Expediente" asp-action="Index" style="color:aliceblue">Inicio&nbsp;/&nbsp;</a></li>
                <li><a class="active" style="color:aliceblue">Detalles de expediente</a></li>
            </ol>
            <h1 align="center">Expediente</h1>

            <div>
                <h4>Datos del vehículo</h4>
                <hr />
                @if (Model != null)
                {
                    <dl class="row">
                        <dt class="col-sm-5">
                            @Html.DisplayNameFor(model => model.IDExpediente)
                        </dt>
                        <dd class="col-sm-7">
                            @Html.DisplayFor(model => model.IDExpediente)
                        </dd>
                        <dt class="col-sm-5">
                            @Html.DisplayNameFor(model => model.nombreTecnico)
                        </dt>
                        <dd class="col-sm-7">
                            @Html.DisplayFor(model => model.nombreTecnico)
                        </dd>
                        <dt class="col-sm-5">
                            @Html.DisplayNameFor(model => model.asunto)
                        </dt>
                        <dd class="col-sm-7">
                            @Html.DisplayFor(model => model.asunto)
                        </dd>
                        <dt class="col-sm-5">
                            @Html.DisplayNameFor(model => model.descripcion)
                        </dt>
                        <dd class="col-sm-7" style="white-space: pre-line">
                            @Html.Raw(Model.descripcion)
                        </dd>
                        <dt class="col-sm-5">
                            @Html.DisplayNameFor(model => model.fechaCreacionExp)
                        </dt>
                        <dd class="col-sm-7">
                            @Model.fechaCreacionExp.Date.ToString("dd/MM/yyyy")
                        </dd>
                        <dt class="col-sm-5">
                            @Html.DisplayNameFor(model => model.nombreCliente)
                        </dt>
                        <dd class="col-sm-7">
                            @Html.DisplayFor(model => model.nombreCliente)
                        </dd>
                        <dt class="col-sm-5">
                            @Html.DisplayNameFor(model => model.marca)
                        </dt>
                        <dd class="col-sm-7">
                            @Html.DisplayFor(model => model.marca)
                        </dd>
                        <dt class="col-sm-5">
                            @Html.DisplayNameFor(model => model.modelo)
                        </dt>
                        <dd class="col-sm-7">
                            @Html.DisplayFor(model => model.modelo)
                        </dd>
                        <dt class="col-sm-5">
                            @Html.DisplayNameFor(model => model.placa)
                        </dt>
                        <dd class="col-sm-7">
                            @Html.DisplayFor(model => model.placa)
                        </dd>
                    </dl>
                }
            </div>
            <div id="botones">
                <a asp-controller="Vehiculo" asp-action="Index" class="Boton">Regresar</a> |
                <a asp-controller="Expediente" asp-action="Edit" asp-route-id="@Model.IDExpediente" class="Boton">Actualizar</a> |
                <a asp-controller="Expediente" asp-action="CreatePDF" asp-route-id="@Model.IDExpediente" class="Boton">
                    Crear archivo PDF
                </a> |
                <a  asp-controller="Expediente"
                   asp-action="Delete"
                   asp-route-id="@Model.IDExpediente"
                   class="Boton"
                   onclick="alert('Se ha eliminado el expediente exitosamente')">
                    Eliminar expediente
                </a>
            </div>
        </div>
    </div>
</div>
