@model IEnumerable<tema.Models.Expediente>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Plantilla/dist/css/Tablas.css" rel="stylesheet" />

<div class="content-wrapper">
    <div class="container">
        <ol class="breadcrumb" style="border:solid;color:black;background-color: #01386E">
            <li><a href="../Expediente/Index" style="color:aliceblue">Inicio</a></li>

        </ol>
               @section Scripts
        {
                <script>
                $(document).ready(function () {
                    $('#tablaDatos').DataTable({
                        "language":
                        {
                            "sProcessing": "Procesando...",
                            "sLengthMenu": "Mostrar _MENU_ registros",
                            "sZeroRecords": "No se encontraron resultados",
                            "sEmptyTable": "Ningún dato disponible en esta tabla",
                            "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                            "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                            "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                            "sInfoPostFix": "",
                            "sSearch": "Buscar:",
                            "sUrl": "",
                            "sInfoThousands": ",",
                            "sLoadingRecords": "Cargando...",
                            "oPaginate": {
                                "sFirst": "Primero",
                                "sLast": "Último",
                                "sNext": "Siguiente",
                                "sPrevious": "Anterior"
                            },
                            "oAria": {
                                "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                                "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                            },
                            "buttons": {
                                "copy": "Copiar",
                                "colvis": "Visibilidad"
                            }
                        },
                        "pageLength": 5
                    });
                });
                </script>
            }
            <table id="tablaDatos" class="Tablas" style="width:100%">
            <thead>
                <tr>

                    <th  style="color:white;font-family:Arial">
                        @Html.DisplayNameFor(model => model.nombreTecnico)
                    </th>
                    <th  style="color:white;font-family:Arial">
                        @Html.DisplayNameFor(model => model.asunto)
                    </th>
                    <th  style="color:white;font-family:Arial">
                        @Html.DisplayNameFor(model => model.descripcion)
                    </th>
                    <th  style="color:white;font-family:Arial">
                        @Html.DisplayNameFor(model => model.fechaCreacionExp)
                    </th>
                    <th  style="color:white;font-family:Arial">
                        @Html.DisplayNameFor(model => model.nombreCliente)
                    </th>
                    <th  style="color:white;font-family:Arial">
                        @Html.DisplayNameFor(model => model.marca)
                    </th>
                    <th  style="color:white;font-family:Arial">
                        @Html.DisplayNameFor(model => model.modelo)
                    </th>
                    <th  style="color:white;font-family:Arial">
                        @Html.DisplayNameFor(model => model.placa)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>

                        <td>
                            @Html.DisplayFor(modelItem => item.nombreTecnico)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.asunto)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.descripcion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.fechaCreacionExp)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.nombreCliente)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.marca)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.modelo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.placa)
                        </td>
                        <td style="text-align:center;font-family:Arial">
                            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <p>
            <a asp-action="Create" class="Boton" style="font-family: Arial;color: white">Registrar nuevo Expediente</a>
        </p>
    </div>
</div>